# Idea IDE:
**/.idea/

# Package lock (except for PNPM):
**/yarn.lock
**/package-lock.json
**/bun.lockb

# Packages:
**/node_modules

# Code gen:
**/prisma/generated

# Environment variables and secrets files:
**/.env*
**/.bucket.json
# 
**/.infisical.json

# React Email:
**/.react-email

# Builds:
**/.next
**/modules/**/dist
**/build
**/dist

# TS:
**/*.tsbuildinfo

# Playwright:
**/test-results/
**/playwright-report/
**/blob-report/
**/playwright/.cache/

# Storybook
**/storybook-static

# MacOS
**/.DS_Store

#Localfile

localfile.*
infra/*